.commentsWrapper {
    background: #fff;
    margin-bottom: 30px;
}
.comment-main {
    max-width: 760px;
    padding: 15px;
    margin: 0 auto;
}
.commentForm {
    margin-top: 30px;
}
.commentForm_header {
    display: flex;
    align-items: center;
}
.commentForm_headerLabel {
    font-size: 15px;
    font-weight: 700;
    color: #4a4a4a;
}
.commentForm_body {
    margin: 10px 0;
}
.form-comment {
    min-height: 100px;
    max-height: 500px;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 100px;
    background-color: #fafafa;
    color: #333;
    &:focus {
        border-color: #ddd;
        box-shadow: none;
    }
}
.commentForm_submit {
    float: right;
}
.comment {
    font-size: 14px;
    color: #4a4a4a;
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }
}
.commentHeader {
    display: flex;
    justify-content: space-between;
}
.commentHeader_creater {
    display: flex;
    align-items: center;
}
.commentHeader_createrInfo {
    a {
        font-size: 15px;
        color: #337ab7;
        font-weight: 700;
        &:hover {
            text-decoration: underline;
        }
    }
}
.commentHeader_metadata {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #7b7b7b;
}
.commentHeader_button {
    display: flex;
    justify-content: flex-end;
}
.commentHeader_editButton {
    &:hover {
        color: #337ab7;
        text-decoration: underline;
        cursor: pointer;
    }
}
.commentHeader_deleteButton {
    margin-left: 5px;
    a {
        color: #7b7b7b;
        &:hover {
            color: #337ab7;
            text-decoration: underline;
        }
    }
}
.commentBody {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 18px 32px;
    margin-top: 11px;
    &::before {
        position: absolute;
        top: -20px;
        left: 7px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #ccc transparent;
    }
    &::after {
        position: absolute;
        top: -19px;
        left: 7px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #fff transparent;
    }
}
.commentBody_content {
    font-size: 16px;
    color: #333;
    word-wrap: break-word;
    word-break: break-all;
}