.btn-default {
    color: #f6f6f6;
    letter-spacing: 1px;
    background: #cf5022;
    border: 0;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s;
    &:hover {
        background: #E75926;
        color: #fff;
    }
}
.btn-twitter {
    color: #fff;
    background: #55acee;
    border-radius: 50%;
    font-size: 26px;
    &:hover {
        color: #fff;
        opacity: 0.9;
    }
}
.btn-comment {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;
}