.btn-default {
    color: #f6f6f6;
    letter-spacing: 1px;
    background: #cf5022;
    border: 0;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s;
    &:hover {
        background: #E75926;
        color: #fff;
    }
}
.btn-twitter {
    color: #fff;
    background: #55acee;
    border-radius: 50%;
    font-size: 26px;
    &:hover {
        color: #fff;
        opacity: 0.9;
    }
}
.btn-comment {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;
}
.like-button {
    width: 100%;
    height: 44px;
    border-radius: 4px;
    margin: 0 8px;
    font-size: 20px;
}
.likable {
    background-color: #fff;
    color: #E75926;
    border: 2px solid #E75926;
}
.liked {
    text-align: center;
    line-height: 44px;
    display: block;
    background-color: #E75926;
    color: #fff;
    border: none;
    &:hover {
        color: #fff;
    }
}