.navbar-custom {    
    letter-spacing: 2px;
    .navbar-brand {
        color: #fff;
        font-weight: bold;
    }
    .nav-item {
        .nav-link {
            font-size:  14px;
            color: #fff;
            &:hover {
                outline: 0;
                color: #E75926;
                background-color: transparent;
            }
        }
    }
}
.navbar-nav {
    align-items: center;
}
.dropdown-menu {
    background-color: #343a40
}