.navbar-custom {    
    z-index: 9999;
    letter-spacing: 2px;
    .navbar-brand {
        color: #fff;
        font-weight: bold;
    }
    .nav-item {
        .nav-link {
            font-size:  14px;
            color: #fff;
            &:hover {
                outline: 0;
                color: #E75926;
                background-color: transparent;
            }
        }
        .icon-link {
            font-size: 20px;
        }
    }
}
.navbar-nav {
    align-items: center;
}
.dropdown-menu {
    background-color: #343a40
}
.chat-link {
    font-size: 20px;
}
@media(max-width: 465px) {
    .navbar-nav {
        align-items: flex-start;
    }
}