.navbar-custom {    
    letter-spacing: 2px;
}
.navbar-custom .navbar-brand {
    color: #fff;
    font-weight: bold;
}
.navbar-custom .nav-item .nav-link  {
    color: #fff;
}
.navbar-custom .nav-item .nav-link:hover {
    outline: 0;
	color: #E75926;
	background-color: transparent;
}