<div class="container favoritItemsPage">
    <div class="row">
        <div class="col-sm-3">
            <h2 class="favoriteItemsPage_header"> <span class="fas fa-heart"></span> お気に入り一覧</h2>
            <p class="favoriteItemsPage_discription">あなたがお気に入りした記事の一覧です。</p>
        </div>
        <div class="col-sm-9">
            <%= render 'articles/articles', object: @articles %>
        </div>
    </div>
    <%= render 'shared/footer' %>
</div>