.article-edit-body {
  padding-top: 20px;
}
.edit-form-container {
  border: 1px solid #eee;
}
.edit-header {
  margin-bottom: 20px;
}
.edit-title {
  font-size: 24px;
}
.edit-path {
  color: #555;
  font-size: 20px;
  font-weight: bold;
  &:hover {
    color: #555;
  }
}
.current-page {
  a {
    color: #e75926;
    &:hover {
      color: #e75926;
    }
  }
}
.edit-main {
  padding-top: 20px;
}
