.articleEditor {
    background-color: #f8faf7;
}
.articleEditor_form {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px 40px;
}
.editorFrom_border {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.editorChart_box {
    display: flex;
    margin-bottom: 10px;
    &:nth-child(3) {
        margin-bottom: 20px;
    }
    &:nth-child(4) {
        margin-bottom: 20px;
    }
}
.editorChart {
    padding-bottom: 10px;
}
.editorChart_label {
    margin-right: 20px;
    width: 50%;
}
.editorChart_data {
    width: 50%;
}
.editorSubmit {
    text-align: right;
}
.form-layout {
    display: flex;
    flex-direction: column;
    h6 {
        margin-left: auto;
    }
}
.form-label {
    color: #212529;
    font-size: 16px;
    font-weight: bold;
    border-left: 3px solid #E75926;
    padding-left: 8px;
}
.form-hidden {
    display: none;
}
.btn-submit {
    margin-top: 0;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
}