.articleWrapper {
    background-color: #f6f6f6;
    .container {
        padding-top: 24px;
        padding-bottom: 40px;
    }
}
.article-main {
    background-color: #fff;
    padding: 32px;
}
.article-header {
    color: #333;
    margin-bottom: 40px;
}
.articleAuthor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.articleAuthor >:last-child {
    margin-left: auto;
}
.articleAuthor-profile {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.article-user-avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.article-user-name {
    font-size: 18px;
    color: #333;
    &:hover {
        color: #337ab7;
        text-decoration: underline;
    }
}
.article-updated {
    font-size: 12px;
    color: #999;
}
.article-settings {
    a {
        font-size: 14px;
        color: #999;
        &:hover {
            color: #337ab7;
            text-decoration: underline;
        }
    }
}
.header-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    font-feature-settings: "palt";
}
.articleContent {
    font-size: 16px;
    color: #333;
    word-wrap: break-word;
    word-break: break-all;
}
.articleContent_chart {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
@media(max-width: 480px) {
    .articleWrapper {
        background-color: #fff;
    }
    .article-main {
        padding: 0;
    }
    .article-header-info {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-title {
        font-size: 30px;
    }
}
.author-info {
    width: 100%;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #ddd;
}
.author-content {
    display: flex;
}
.author-image {
    width: 60px;
    height: 60px;
}
.author-body {
    margin-left: 20px;
}
.author-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;
    a {
        font-size: 16px;
        font-weight: 700;
        color: #333;
        &:hover {
            color: #337ab7;
            text-decoration: underline;
        }
    }
}
.author-introduce {
    font-size: 14px;
    color: #777;
}