.articleWrapper {
    background-color: #f6f6f6;
    .container {
        padding-top: 24px;
        padding-bottom: 40px;
    }
}
.article-main {
    background-color: #fff;
    padding: 30px;
}
.article-header {
    color: #333;
    margin-bottom: 40px;
}
.articleAuthor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.articleAuthor >:last-child {
    margin-left: auto;
}
.articleAuthor-profile {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.article-user-avatar {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}
.article-user-name {
    font-size: 18px;
    color: #333;
    &:hover {
        color: #337ab7;
        text-decoration: underline;
    }
}
.article-updated {
    font-size: 12px;
    color: #999;
}
.article-settings {
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
    a {
        color: #999;
        &:hover {
            color: #337ab7;
            text-decoration: underline;
        }
    }
}
.header-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
    font-feature-settings: "palt";
}
.articleContent {
    font-size: 16px;
    color: #333;
    word-wrap: break-word;
    word-break: break-all;
}
.articlePicture {
    display: flex;
}
.main-picture {
    width: 550px;
    height: 400px;
}
.thumbnail-list {
    margin-bottom: 10px;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
}
.current {
    opacity: 1;
}
.thumbnail {
    width: 100px;
    height: 80px;
}
.article-thumbnails {
    margin-right: 20px;
}
.articleContent_story {
    margin-top: 20px;
    padding-top: 10px;
}
.articleContent_chart {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
@media(max-width: 480px) {
    .articleWrapper {
        background-color: #fff;
    }
    .article-main {
        padding: 0;
    }
    .article-header-info {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-title {
        font-size: 30px;
    }
}
.author-info {
    width: 100%;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #ddd;
}
.author-content {
    display: flex;
}
.author-image {
    width: 56px;
    height: 56px;
}
.author-body {
    margin-left: 20px;
}
.author-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;
    a {
        font-size: 16px;
        font-weight: 700;
        color: #333;
        &:hover {
            color: #337ab7;
            text-decoration: underline;
        }
    }
}
.author-introduce {
    font-size: 14px;
    color: #333333;
    margin-top: 8px;
}
.likes-count {
    font-weight: 600;
    margin-left: 2px;
}
.article-sideMenu {
    background: #fff;
    padding: 28px;
}
.sideMenu_header {
    display: flex;
    align-items: center;
}
.sideMenu_header_label {
    margin-left: 5px;
    a {
        color: #333;
        font-size: 16px;
        font-weight: 700;
        &:hover {
            color: #337ab7;
            text-decoration: underline;
        }
    }
}
.sideMenu_meta {
    margin-top: 8px;
    display: flex;
}
.article-view-count {
    font-size: 12px;
    font-weight: bold;
    color: #999;
}