<div class="articleWrapper">
    <div class="container">
        <div class="article-main">
            <div class="article-header">
                <div class="u-flex-center-between mb-3">
                    <div class="article-header-info">
                        <div class="article-author">
                            <%= link_to @article.user.name, @article.user %>
                        </div>
                        <div class="article-time"> <%= @article.updated_at %> </div>
                    </div>
                </div>
                <h1 class="header-title"> <%= @article.title %> </h1>
            </div>
        </div>
    </div>
</div>