<div class="article-edit-body">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'edit' %>
      </div>
      <div class="col-md-9">
        <h2 class="edit-title">タイトルを編集する </h2>
        <div class="edit-main">
          <%= form_for @article do |f| %>
            <div class="form-group">
              <%= f.text_field :title, placeholder: 'タイトル', class: 'form-control edit-form' %>
            </div>
            <%= f.submit '更新する', class: 'btn btn-default btn-submit' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>