#top {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 150px 0;
    background-color: #000;
    background: image-url("love-kitchen-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
}
.top-body {
    display: table-cell;
    vertical-align: middle;
    H1 {
        font-size: 76px;
        font-weight: bold;
        color: rgba(255,255,255,0.8);
    }
}
.brand-heading {
    color: #E75926;
    text-shadow: 0 4px #a13e1a;
}
.top-text {
    font-size: 18px;
}
.result-text {
    margin-bottom: 20px;
}
#index {
    background-color: #f6f6f6;
    padding-bottom: 30px;
}
.section-title {
    padding: 30px 0;
    h2 {
        margin-bottom: 20px;
    }
}
@media(min-width:768px) {
    #top {
        height: 100%;
        padding: 0;
    }
    .margin-left {
        margin-left: 97.5px;
    }
    .top-text {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 100px;
        color: #fff;
    }
    .section-title {
        padding: 50px 0;
    }
}
// Index
#index {
    padding-bottom: 30px;
}

// logged in
.homeLayoutBody {
    margin-top: 20px;
}
.itemList {
    margin-bottom: 40px;
}
.home-heading {
    padding-left: 12px;
    margin-bottom: 20px;
    font-size: 28px;
}
.ranking-list {
    background-color: #fff;
}
.side-header {
    background-color: #E75926;
    color: #fff;
    padding: 8px;
}
.sidebar-title {
    margin-left: 5px;
    letter-spacing: 1.1;
}
.liked-article-ranking {
    margin-top: 10px;
    .tr-Item {
        padding: 16px 0;
    }
}