<div id="follow-button">
    <%= button_to current_user.active_relationships.build, params: { followed_id: @user.id }, remote: true, class: 'btn-follow' do %>
        <span class="fas fa-user-plus"></span>
        <span>フォローする</span>
    <% end %>
</div>