<div id="follow-button">
    <%= form_for(current_user.active_relationships.build) do |f| %>
        <%= hidden_field_tag :followed_id, @user.id %>
        <%= f.submit "フォローする", class: 'btn btn-default' %>
    <% end %>
</div>