<div id="unfollow-button">
    <%= button_to current_user.active_relationships.find_by(followed_id: @user.id), method: :delete, remote: true, class: 'btn btn-default' do %>
        解除する
    <% end %>
</div>