<div class="likes-action" id="liked">
    <%= button_to current_user.likes.build, article_id: @article.id, class: 'like-button liked' do %>
        <span class="fas fa-check"></span>
        <span class="likes-count"> <%= @article.likes.count %> </span>
    <% end %>
</div>