<% provide(:title, 'LoveKitchenとは') %>
<div class="overview">
    <div class="overview-main">
        <div class="overview-inner">
            <div class="overeview-logo">
                LoveKitchen
            </div>
            <div class="overview-description">
                LoveKitchenは料理好きな人の”こだわり”を共有できるサービスです。
            </div>
            <div class="overview-features">
                <div class="overview-feature">
                    <div class="overview-feature-icon"> <i class="fas fa-edit"></i> </div>
                    <div class="overview-feature-title">Post</div>
                    <div class="overview-feature-description">写真を複数添付したり、グラフを挿入することが出来ます。</div>
                </div>
                <div class="overview-feature"></div>
                    <div class="overview-feature-icon"> <i class="fas fa-heart"></i> </div>
                    <div class="overview-feature-title">Stock</div>
                    <div class="overview-feature-description">気に入った記事をストックすることが出来ます。</div>
                <div class="overview-feature">
                    <div class="overview-feature-icon"> <i class="fas fa-comments"></i> </div>
                    <div class="overview-feature-title">Communication</div>
                    <div class="overview-feature-description">記事にコメントしたり、他のユーザーをフォローすることが出来ます。</div>
                </div>
            </div>
        </div>
    </div>
    <div class="overview-count">
        <div class="overview-count-inner">
            <div class="overview_articlesCount">
                <div class="overview_articlesCount_value"> <%= Article.count %> </div>
                <div class="overview_articlesCount_description"> 件の記事が投稿されています </div>
            </div>
        </div>
    </div>
    <div class="container" id="wrapper">
        <%= render 'shared/footer' %>
    </div>
</div>