<% if user_signed_in? %>
<div id="main">
    <div class="container mypage">
        <div class="row">
            <div class="col-md-3 profile-bg">
                <div class="profile-avatar">
                    <img src="/Users/rakkusann/portfolio/love_kitchen/app/assets/images/profle.png" alt="プロフィール画像">
                </div>
                <div class="profile-username">
                    <h3> <%= current_user.name %> </h3>
                </div>
                <div class="profile-info">
                    <div class="profile-introduce">
                        自己紹介
                    </div>
                    <%= link_to 'プロフィールを編集する', '#', class: 'edit-profile' %>
                </div>
            </div>
        </div>
    </div>
</div>
<% else %>
<!-- Header -->
<div id="top">
    <div class="top-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1>Love <span class="brand-heading">Kitchen</span></h1>
                    <p class="top-text">料理好きな人の”こだわり”をシェア出来るサービスです</p>
                    <%= link_to '今すぐ始める！', signup_path, class: 'btn btn-default' %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>