<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#page-top" class="navbar-brand page-scroll">LoveKitchen</a>
        </div>

        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li> <%= link_to 'LoveKitchenとは', '#about', class: 'page-scroll' %> </li>
                <li> <%= link_to '無料会員登録', '#', class: 'page-scroll' %> </li>
                <li> <%= link_to 'ログイン', '#', class: 'page-scroll' %> </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<div id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Love <span class="brand-heading">Kitchen</span></h1>
                    <p class="intro-text">料理好きな人の”こだわり”を共有出来るサービスです</p>
                    <a href="#signup" class="btn btn-default page-scroll">すぐに始める</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>LoveKitchenとは</h2>
            <hr>
        </div>
    </div>
</div>

<!-- Sign up Section -->
<div id="signup" class="text-center">
    <div class="container">
        <div class="section-title text-center center">
            <h2>無料会員登録</h2>
            <hr>
        </div>
    </div>
</div>
