<% if user_signed_in? %>
<div class="container">
    <div class="row">
        <div class="home">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="#order-posted" class="nav-link active" id="order-posted-tab" data-toggle="tab" role="tab" aria-controls="order-posted" aria-selected="true">投稿順</a>
                </li>
                <li class="nav-item">
                    <a href="#order-liked" class="nav-link" id="order-liked-tab" data-toggle="tab" role="tab" aria-controls="order-liked" aria-selected="false">いいね順</a>
                </li>
            </ul>
            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="order-posted" role="tabpanel" aria-labelledby="order-posted-tab">
                    投稿順
                </div>
                <div class="tab-pane fade" id="order-liked" role="tabpanel" aria-labelledby="order-liked-tab">
                    いいね順
                </div>
            </div>
        </div>
    </div>
</div>
<% else %>
<!-- Header -->
<div id="top">
    <div class="top-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 top-header">
                    <h1>Love <span class="brand-heading">Kitchen</span></h1>
                    <p class="top-text">料理好きな人の”こだわり”をシェア出来るサービスです</p>
                    <%= link_to '今すぐ始める！', signup_path, class: 'btn btn-default' %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>