<% if user_signed_in? %>
トップページ
<% else %>
<!-- Header -->
<div id="top">
    <div class="top-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 top-header">
                    <h1>Love <span class="brand-heading">Kitchen</span></h1>
                    <p class="top-text">料理好きな人の”こだわり”をシェア出来るサービスです</p>
                    <%= link_to '今すぐ始める！', signup_path, class: 'btn btn-default' %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>