<!-- Header -->
<div id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Love <span class="brand-heading">Kitchen</span></h1>
                    <p class="intro-text">料理好きな人の”こだわり”を共有出来るサービスです</p>
                    <a href="#signup" class="btn btn-default page-scroll">すぐに始める</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>LoveKitchenとは</h2>
            <hr>
        </div>
    </div>
</div>

<!-- Sign up Section -->
<div id="signup" class="text-center">
    <div class="container">
        <div class="section-title text-center center">
            <h2>無料会員登録</h2>
            <hr>
        </div>
    </div>
</div>
