<div class="homeLayoutBody">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="search-form">
                    <%= render 'shared/search_form' %>
                </div>
            </div>
            <div class="col-sm-8">
                <h2 class="result-text">検索結果</h2>
                <div class="itemList">
                    <%= render 'articles/articles', object: @articles %>
                </div>
                <%= paginate @articles %>
            </div>
        </div>
        <%= render 'shared/footer' %>
    </div>
</div>