<div class="homeLayoutBody">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <%= search_form_for @q, url: search_path do |f| %>
                    <div class="form-group">
                        <%= f.search_field :title_or_content_cont, placeholder: 'キーワードを入力してください', class: 'form-control' %>
                    </div>
                    <%= f.submit '検索', class: 'btn btn-default' %>
                <% end %>
            </div>
            <div class="col-sm-8">
                <h2>検索結果</h2>
                <div class="itemList">
                    <%= render 'articles/articles' %>
                </div>
            </div>
        </div>
    </div>
</div>