.sessionsLayout_bg {
	background: #f8faf7;
	padding: 60px 0;
}
.sessionsLayoutBody {
	background: #fff;
	padding: 60px;
	text-align: center;
}
.sessionsLayoutBody_title {
	font-size: 26px;
	font-weight: 700;
}
.lead {
	color: #ccc;
	font-size: 14px;
	margin-top: 20px;
}
.sessionsLayout_option {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
}
.remember-label {
	font-size: 14px;
}
.forgot-password {
	font-size: 13px;
	color: #337ab7;
	text-decoration: underline;
	padding-top: 4px;
	&:hover {
		text-decoration: underline;
	}
}