<div id="messages">
  <%= render 'messages/message' %>
</div>

<form id="messageForm"> 
  <textarea type="text" data-behavior="room_speaker" class="form-control" id="messageInput" placeholder='メッセージを入力してください'></textarea>
  <input type="submit" class="btn btn-default" id="messageSubmit" value="送信">
</form>