.notifications {
  margin-top: 20px;
}
.notification-link {
  display: block;
  margin-bottom: 20px;
  color: #444444;
  letter-spacing: 1.1;
  &:hover {
    color: #444444;
  }
}
.notification-wrapper {
  display: flex;
}
.notification-datetime {
  margin-left: auto;
}
