<p> <%= User.find_by(email: @resource.email).name %> さん </p>

<p>登録メールアドレス: <%= @resource.email %></p>

<p>パスワード再設定用のリンクをお送りします。以下のURLよりパスワードの登録をお願いします。</p>

<p><%= link_to 'パスワード再設定', password_reset_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりのない場合や、パスワードを再設定する必要のない場合は、このメールを無視して構いません。</p>
<p>上記のURLでパスワードを設定するまで、パスワードは変更されません。</p>

<p>LoveKitchen</p>
