.userPage_header {
    padding: 14px 0;
}
.userPage_profile {
    display: flex;
}
.userPage_avatar {
    margin-right: 12px;
}
.userPage_heading {
    font-size: 30px;
    font-weight: 700;
    color: #4a4a4a;
}
.userPage_articleCount {
    font-size: 28px;
    font-weight: 700;
    color: #4a4a4a;
}
.userPage_posts {
    font-size: 16px;
    color: #4a4a4a;
}
.userPage_ribbon {
    background: #f8faf7;
    padding: 14px 0;
    border-bottom: 1px solid #e8eee4;
    border-top: 1px solid #e8eee4;
}
.userPage_ribbonTitle {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    a {
        color: #337ab7;
        &:hover {
            text-decoration: underline;
        }
    }
}
.userPage_main {
    padding: 14px 0;
}
.tabList {
    width: 100%;
    color: #4a4a4a;
    padding: 0;
    margin: 0;
    word-break: break-all;
    font-size: 14px;
}
.tabList_Item {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
}
.tabList_avatar {
    margin-right: 12px;
}
.tabList_info {
    padding-top: 10px;
    a {
        color: #337ab7;
        font-weight: 700;
    }
    p {
        font-weight: 500;
    }
}