.userPage_header {
    padding: 14px 0;
}
.userPage_profile {
    display: flex;
}
.userPage_avatar {
    margin-right: 12px;
}
.userPage_heading {
    font-size: 30px;
    font-weight: 700;
    color: #4a4a4a;
}
.userPage_articleCount {
    font-size: 28px;
    font-weight: 700;
    color: #4a4a4a;
}
.userPage_posts {
    font-size: 16px;
    color: #4a4a4a;
}