// side bar 
.userPage {
    margin-top: 20px;
}
.profile-avatar {
    margin-bottom: 20px;
}
.profile-username {
    margin-bottom: 16px;
    h3 {
        font-size: 24px;
        font-weight: 700;
    }
}
.profile-info {
    margin: 12px 0;
    padding-top: 12px;
    border-top: 1px solid #eee;
    color: #444;
    a {
        color: #999;
        font-size: 13px;
        &:hover {
            color: #23527c;
            text-decoration: underline;
        }
    }
}
.profile-introduce {
    font-size: 13px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
    overflow-wrap: break-word;
}
.posted-tab {
    color: #23527c;
    font-size: 14px;
    font-weight: 500;
    &:hover {
        color: #23527c;
    }
}
.profileUser_following {
    border-top: 1px solid #eee;
    padding-top: 12px;
}
.profileUser_following-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    color: #444;
    margin-bottom: 12px;
}
.profileUser_following-count {
    color: #337ab7;
    &:hover {
        text-decoration: underline;
    }
}
.profileUser_following-body {
    li {
        display: inline-block;
        padding: 0 2px;
        margin-bottom: 5px;
    }
    img {
        border-radius: 3px;
        width: 30px;
        height: 30px;
    }
}