// side bar 
.userPage {
    margin-top: 20px;
}
.profile-avatar {
    margin-bottom: 20px;
}
.profile-username {
    margin-bottom: 16px;
    h3 {
        font-size: 24px;
        font-weight: 700;
    }
}
.profile-info {
    margin-bottom: 12px;
    padding-top: 12px;
    border-top: 1px solid #eee;
    color: #444;
    a {
        color: #999;
        font-size: 13px;
        &:hover {
            color: #23527c;
            text-decoration: underline;
        }
    }
}
.profile-introduce {
    font-size: 13px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
    overflow-wrap: break-word;
}
// main content
.tr-Item {
    display: flex;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
.tr-Item_userImage {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-top: 2px;
    img {
        width: 100%;
        height: 100%;
    }
}
.tr-Item_body {
}
.tr-Item_title {
    color: #444;
    font-weight: 700;
    font-size: 16px;
    &:hover {
        text-decoration: underline;
        color: inherit;
    }
}
.tr-Item_meta {
    display: flex;
    flex-wrap: wrap;
    color: #999;
    font-size: 12px;
}
.tr-Item_author {
    font-size: 12px;
    color: #999;
    margin-right: 6px;
    &:hover {
        text-decoration: underline;
    }
}