<% if notice %>
    <div class="flash alert alert-success alert-dismissible fadeout" role="alert">
        <%= notice %> 
    </div>
<% end %>
<% if alert %>
    <div class="flash alert alert-danger alert-dismissible fadeout" role="alert">  
        <%= alert %>
    </div>
<% end %>
